<%= form_with(model: art_item, class: "contents") do |form| %>
  <% if art_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(art_item.errors.count, "error") %> prohibited this art_item from being saved:</h2>

      <ul>
        <% art_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, @departments_list, :id, :fullname, { include_blank: "Select ...", required: true }, { class: "block rounded-none rounded-l-md text-base border-gray-300" } %>
  </div>

  <div class="my-5">
    <%= form.label :department_contact %>
    <%= form.text_field :department_contact, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :location_building %>
    <%= form.text_field :location_building, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :location_room %>
    <%= form.text_field :location_room, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :value_cost %>
    <%= form.number_field :value_cost, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :date_acquired %>
    <%= form.date_field :date_acquired, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :appraisal_type_id %>
    <%= form.collection_select :appraisal_type_id, @appraisal_types, :id, :classification, {include_blank: "Select", required: true }, { class: "block rounded-none rounded-l-md text-base border-gray-300" } %>
  </div>

  <div class="my-5">
    <%= form.label :appraisal_description %>
    <%= form.rich_text_area :appraisal_description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :protection %>
    <%= form.rich_text_area :protection, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :documents %>
    <%= form.file_field :documents, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% unless @art_item.new_record? %>
    <div class="my-5">
      <%= form.label :archived %>
      <%= form.check_box :archived %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
