<%= form_with(model: art_item, class: "contents") do |form| %>
  <% if art_item.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(art_item.errors.count, "error") %> prohibited this art_item from being saved:</h2>

      <ul>
        <% art_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :updated_by, value: current_user.id %>

  <p>All items are required unless marked <span class="optional-text">* optional</span></p>

  <div class="my-5">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, @departments_list, :id, :fullname, { include_blank: "Select ...", required: true }, { class: "block rounded-none rounded-l-md text-base border-gray-300" } %>
  </div>

  <div class="my-5">
    <%= form.label :department_contact %>
    <%= form.text_field :department_contact, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label "description_trix_input_art_item" %>
    <%= form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :location_building %>
    <%= form.text_field :location_building, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :location_room %>
    <%= form.text_field :location_room, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :value_cost %>
    <%= form.number_field :value_cost, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :date_acquired %>
    <%= form.date_field :date_acquired, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2", required: true %>
  </div>

  <div class="my-5">
    <%= form.label :appraisal_type_id %>
    <%= form.collection_select :appraisal_type_id, @appraisal_types.order(:classification), :id, :classification, {include_blank: "Select", required: true }, { class: "block rounded-none rounded-l-md text-base border-gray-300" }%>
  </div>

  <div class="my-5">
    <%= form.label "protection_trix_input_art_item" %><span class="optional-text"> * optional</span>
    <%= form.rich_text_area :appraisal_description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "appraisal_description_trix_input_art_item" %><span class="optional-text"> * optional</span>
    <%= form.rich_text_area :protection, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div id="attached_files" class="my-5">
    <%= form.label :documents %><span class="optional-text">(5 Mb limit per item) * optional</span>
    <%= form.file_field :documents, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="sm:col-span-3">
    <% if @art_item.documents.attached? %>
      <div class="py-4 pl-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
        <dt class="text-sm font-medium text-gray-500">
          Other files currently uploaded:
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
            <% @art_item.documents.each do |doc| %>
              <% unless doc.id.nil? %>
                <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                  <div class="w-0 flex-1 flex items-center">
                    <i class="fas fa-paperclip text-gray-400"></i>
                    <span class="ml-2 flex-1 w-0 truncate">
                      <%= link_to doc.filename, url_for(doc), target: "_blank" %>
                    </span>
                      <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <%= link_to 'Remove', delete_file_path(doc), data: {turbo_method: :get, turbo_confirm: 'Are you sure?'} %>
                      </button>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </dd>
      </div>
    <% end %>
  </div>

  <div id="attached_images" class="my-5">
    <%= form.label :images %><span class="optional-text">(5 Mb limit per item) * optional</span>
    <%= form.file_field :images, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="body-md-text mb-10 pb-10">
          Other images currently uploaded:
  </div>

  <ul class="list-none grid grid-cols-2 gap-x-4 gap-y-8 px-4">
    <% art_item.images.each do |image| %>
      <% unless image.id.nil? %>
        <li class="relative">
          <div class="flex flex-col">
            <% if image.variable? %>
              <div class="group block w-full h-40 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                <%= image_tag image.variant(:thumb), class: "object-cover h-full w-full group-hover:opacity-75" %>
              </div>

                <div>
                  <button type="button" class="bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <%= link_to 'Remove', delete_file_path(image), data: {turbo_method: :get, turbo_confirm: 'Are you sure?'} %>
                  </button>
                </div>

            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class="inline">
    <%= form.submit class: "secondary_blue_button" %>
  </div>
<% end %>
