<%= turbo_stream_from :art_items %>
<div id="itemsListing">
  <div>
    <div class="mb-4 sm:flex-auto">
      <h2>All Art Items</h2>
      <span class="body-text">Grouped by department</span>
    </div>
  </div>

  <div>
    <% @departments_result.each do |dept|%>
      <h3 class="mt-6"><%= show_department_fullname(dept) %></h3>
      <div class= "mt-4 flex flex-wrap">
        <% @art_items.where(department_id: dept).each do |item| %>   
          <div class="w-64 m-2 rounded shadow-lg">
            <% if item.images.first.present? %>
              <%= link_to art_item_path(item) do %>
                <% image_tag(item.images.first.representation(resize_to_limit: [200, 200]), class: 'mx-auto hover:border-2 hover:border-blue-umblue', alt: item.description.to_plain_text.truncate(40) ) %>
              <% end %>            
            <% else %>
              <%= link_to art_item_path(item) do %>
                <%= image_tag("block_m-hex.png", size: "200", class: 'mx-auto px-2 hover:border-2 hover:border-blue-umblue', alt: "Block M Placeholder") %>
              <% end %>
            <% end %>
            <div class="px-6 py-4">
              <h3>
                <%= item.description.to_plain_text.truncate(40) %>
              </h3>
              <p class="body-lg-text">
                <%= item.location_building %> <br> <span>Room: <%= item.location_room.truncate(30) %>
              </p>
              <p class="body-lg-text">
                <%= number_to_currency(item.value_cost, precision: 0) %>
              </p>
              <p class="mt-4">
                <%= link_to 'View Item', art_item_path(item), class: "link-text" %><span class="sr-only"><%= item.id %></span></a>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>




</div>
