<%= turbo_stream_from :art_items %>
<div id="itemsListing">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h2 class="mt-2 text-sm text-gray-700">All art items grouped by departments.</h2>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="table-auto">
            <thead class="bg-white">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-base font-semibold text-gray-900 sm:pl-6 width-20">Department<br><span class="text-sm">Building</span> - <span class="text-sm text-gray-700">Room</span></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Value</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Item Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <% prev_dept = "" %>
              <% @art_items.each do |item| %>
                <% dept = item.department.fullname %>
                <% if dept != prev_dept %>
                  <tr class="border-t border-gray-200">
                    <th colspan="5" scope="colgroup" class="bg-gray-50 px-4 py-2 text-left text-base font-semibold text-gray-900 sm:px-6"><%= dept %></th>
                  </tr>
                  <% prev_dept = dept %>
                  <tr class="border-t border-gray-300">
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= item.location_building %> - <span class="text-gray-700"><%= item.location_room.truncate(20) %></span></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 text-right"><%= number_to_currency(item.value_cost, precision: 0) %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900"><%= item.description.to_plain_text.truncate(80) %></td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                      <%= link_to 'Show', art_item_path(item), class: "text-indigo-600 hover:text-indigo-900" %><span class="sr-only">, <%= item.id %></span></a>
                    </td>
                  </tr>
                <% else %>
                  <tr class="border-t border-gray-300">
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= item.location_building %> - <span class="text-gray-700"><%= item.location_room.truncate(20) %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 text-right"><%= number_to_currency(item.value_cost, precision: 0) %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900"><%= item.description.to_plain_text.truncate(80) %></td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                      <%= link_to 'Show', art_item_path(item), class: "text-indigo-600 hover:text-indigo-900" %><span class="sr-only">, <%= item.id %></span></a>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
