<%= turbo_stream_from :art_items %>
<div id="itemsListing">
  <div>
    <div class="mb-4 sm:flex-auto">
      <h2 class="font-oswald text-lg font-medium text-black">All Art Items</h2>
      <span class= "text-xs font-normal font-montserrat">Grouped by department</span>
    </div>
  </div>

  <div>
    <% @departments_result.each do |dept|%>
      <div class="font-oswald text-xl font-medium mt-6"><%= show_department_fullname(dept) %></div>
      <div class= "mt-4 flex flex-wrap">
        <% @art_items.where(department_id: dept).each do |item| %>   
          <div class="w-64 m-2 rounded shadow-lg">
            <% if item.images.first.present? %>
              <%= image_tag(item.images.first.representation(resize_to_limit: [200, 200]), class: 'mx-auto', alt: item.description.to_plain_text.truncate(40) ) %>
            <% else %>
              <%= image_tag("block_m-hex.png", size: "200", class: 'mx-auto px-2', alt: "Block M Placeholder") %>
            <% end %>
            <div class="px-6 py-4">
              <p class="text-gray-700 font-oswald">
                <%= item.description.to_plain_text.truncate(40) %>
              </p>
              <p class="text-black text-base font-montserrat">
                <%= item.location_building %> <br> <span class="text-gray-700">Room: <%= item.location_room.truncate(30) %>
              </p>
              <p class="text-base font-montserrat">
                <%= number_to_currency(item.value_cost, precision: 0) %>
              </p>
              <p class="mt-4 text-black text-base font-montserrat">
                <%= link_to 'Read more >', art_item_path(item), class: "text-indigo-600 hover:text-indigo-900" %><span class="sr-only"><%= item.id %></span></a>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>




</div>
