<div>
  <h2 class="mb-2">
    Documents
  </h2>

  <% if attached_files_resource.documents.attached? %>
    <div>
      <% attached_files_resource.documents.each do |file| %>
        <div class="my-1 flex justify-between items-center">
          <div>
            <%= link_to url_for(file), target: "_blank" do %>
              <div class="flex justify-start ml-1">
                <div class="svg-icon-container" style="min-width: 20px; min-height: 20px;">
                  <%= show_svg(file.content_type) %>
                </div>
                <div class="ml-1 text-ellipsis overflow-hidden">
                  <%= file.filename %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="mr-8">
            <%= button_to "Delete", delete_file_path(file.id), method: :get, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "my-1 px-2 rounded-md shadow-sm bg-gray-100 text-sm text-blue-umblue text-center hover:underline" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="flex-shrink-0">
      <button type="button" class="secondary_blue_button">
        <%= link_to "Add documents", "#{attached_files_resource.id}/edit#attached_files" %>
      </button>
    </div>
  <% else %>
    <div class="flex-shrink-0">
      <span class="text-sm">
        No attached documents.
      </span>
    </div>
    <div class="flex-shrink-0">
      <button type="button" class="secondary_blue_button">
        <%= link_to "Add documents", "#{attached_files_resource.id}/edit#attached_files" %>
      </button>
    </div>
  <% end %>
</div>
