<div class="grid grid-cols-5">
  <h1 class="col-span-3">Search Art Items</h1>
  <div class="col-span-2 flex justify-start items-center pb-1">
    <%= link_to 'Add Art Item', new_art_item_path, class: "primary_button" %>
  </div>
</div>
<div class="body-text mt-2 mb-10">
  <%= render 'layouts/display_info_text', location: 'catalog' %>
</div>

<div class="px-1 mb-2" data-controller='autosubmit'>

  <div>
    <%= search_form_for @q, data: { target: "autosubmit.form", action: "input->autosubmit#search" } do |form| %>

      <div class="font-blue-umblue">
        <div class="sidebar" data-autosubmit-target="sidebar">
          <div class="text-sm ">
            <div class="pb-2 grid md:grid-cols-4">
              <div class="col-span-2">
                <div>
                  <label for="q_department_id_eq"><span class="fancy_label">Search Department</span></label>
                  <%= form.collection_select :department_id_eq, @departments, :id, :fullname, { include_blank: "Department" }, { class: "input_text_field mt-2" } %>
                </div>

                <div class="mt-3">
                  <div class="text-umblue">
                    <label for="q_protection_body_cont"><span class="fancy_label">Search Text</span>
                    <%= form.text_field :rich_text_protection_body_cont, placeholder: "Text Search", class: "input_text_field mt-2", "data-action": "input->autosubmit#search", "aria-labelledby": "q_protection_body_cont" %>
                  </div>
                </div>

                <div class="mt-3">
                  <div>
                    <span class="fancy_label">Search Value</span>
                  </div>
                  <div class="mt-2 flex justify-start">
                    <div>
                      <%= form.text_field :value_cost_gteq, placeholder: "Minimum", "data-autosubmit-target": "min_value_cost", class: 'input_text_field', "aria-labelledby": "q_value_cost_gteq" %>
                    </div>
                    <div class="mx-4 pt-2">to</div>
                    <div>
                        <%= form.text_field :value_cost_lteq, placeholder: "Maximum", "data-autosubmit-target": "max_value_cost", class: 'input_text_field', "aria-labelledby": "q_value_cost_lteq" %>
                    </div>
                  </div>
                </div>
                <span class="value_cost-error--hide text-red-700 text-sm" data-autosubmit-target="value_cost_error"></span>
              </div>

              <div class="col-span-2">
                <div class="md:mt-0 mt-3">
                  <div>
                    <fieldset>
                      <legend class="fancy_label">Search Appraisal Type</legend>
                      <div class="body-text mt-2">
                        <ul class="pl-2 pb-2">
                          <% @appraisal_type_ids.each do |appraisal_type_id| %>
                            <li class = "mb-2">
                              <%= form.check_box(:appraisal_type_id_in, {multiple: true}, appraisal_type_id, nil ) %>
                              <label class="text-sm font-medium text-gray-700" for=<%= "q_appraisal_type_id_in_#{appraisal_type_id}" %>>
                                <%= AppraisalType.find(appraisal_type_id).classification %>
                              </label>
                            </li>
                          <% end %>
                        </ul>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="flex-1 mx-2">
              <div class="grid grid-cols-3">
                <div class="pb-2">
                  <button type="button" class="tertiary_button"
                    data-action='click->autosubmit#clearFilters'>
                    Clear All
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container mt-4">
      <%= render 'listing' %>
    </div>
  </div>
</div>
