<h1 class="font-bold text-4xl">Art items</h1>
<%= render 'layouts/display_info_text', location: 'catalog' %>
<div class=" px-1 mb-2" data-controller='autosubmit'>
  <div class="flex justify-end items-center pb-1">
    <%= link_to 'New art item', new_art_item_path, class: "rounded-lg py-3 px-5 bg-blue-umblue text-white block font-medium hover:bg-white hover:text-blue-umblue hover:ring-2 hover:ring-blue-umblue" %>
  </div>

  <div>
    <%= search_form_for @q, data: { target: "autosubmit.form", action: "input->autosubmit#search" } do |form| %>
      
      <div class="max-w-fit">
        <div class="sidebar" data-autosubmit-target="sidebar">
          <div class="width-full bg-gray-50 shadow border text-sm ">
            <div class=" grid md:grid-flow-col">
              <div class="pb-1">
                <div class="pl-1">
                  <label for="department_id">Search Department</label>
                  <%= form.collection_select :department_id_eq, @departments, :id, :fullname, { include_blank: "Select ..." }, { class: "block rounded-none rounded-l-md text-xs border-gray-300" } %>
                </div>
                <div class="pl-1">
                  <div>
                    <label>Value cost</label>
                  </div>
                  <div class="flex">
                    <div class="mx-2">
                      <%= form.text_field :value_cost_gteq, placeholder: "From", "data-autosubmit-target": "min_value_cost", class: 'w-3/4 block rounded sm:text-sm border-gray-300' %>
                    </div>
                    <div class="mx-2">
                        <%= form.text_field :value_cost_lteq, placeholder: "To", "data-autosubmit-target": "max_value_cost", class: 'w-3/4 block rounded sm:text-sm border-gray-300' %>
                    </div>
                  </div>
                </div>
                <span class="value_cost-error--hide text-red-700 text-sm data-autosubmit-target="value_cost_error"></span>
              </div>
              <div class="pl-1">
                <div class="pb-1">
                  <label for="room_type">Search Appraisal Type</label>
                  <div class="text-sm">
                    <ul class="pl-2 pb-2">
                      <% @appraisal_type_ids.each do |appraisal_type_id| %>
                        <li>
                          <%= form.check_box(:appraisal_type_id_in, {multiple: true}, appraisal_type_id, nil) %>
                          <%= AppraisalType.find(appraisal_type_id).classification %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="pb-1 pr-1">
                  <%= form.label "Rich Text Search" %>
                  <%= form.text_field :protection_body_cont, placeholder: "Contains", class: "block rounded-none rounded-l-md sm:text-sm border-gray-300 w-30", "data-action": "input->autosubmit#search" %>
                </div>
                <div class="pb-1 pl-2">
                  <%= form.check_box :archived_true %>
                  <%= form.label "Archived items" %>
                </div>
              </div>

            </div>
            <div class="flex-1 mx-2">
              <div class="grid grid-cols-3">
                <div class="pb-2">
                  <button type="button" class="px-2 rounded-md shadow-sm bg-gray-100 text-sm text-black text-center ring-1 ring-black ring-opacity-5 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:bg-gray-400"
                    data-action='click->autosubmit#clearFilters'>
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container">
      <%= render 'listing' %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'mobile_menu', async: true %>
