<div class="mx-auto grid grid-cols-2">
  <div class="">
    <div>
      <div data-controller="lightbox">
        <%= render "modal" %>
        <div class="py-4">
          <%= render partial: "show_images", locals: { art_item: @art_item } %>
        </div>
      </div>

      <div class="py-4 sm:grid sm:py-5 sm:grid-cols-3 sm:gap-4">
        <%= render partial: "show_documents", locals: { attached_files_resource: @art_item } %>
      </div>
    </div>
    
  </div>

  <div class="text-xl mt-8">
    <div class="">
      <%= render @art_item %>
    </div>
    <div class="mb-20">Annotations:
      <%= turbo_frame_tag "new_annotation" do %>
        <%= render "annotations/form", annotation: @new_annotation %>
      <% end %>

      <div class="annotations" id="annotations">
        <%= render @annotations %>
      </div>
    </div>
  </div>

</div>

