<div class="mx-auto grid grid-cols-3">
  <div class="col-span-1">
    <div>
      <div data-controller="lightbox">
        <%= render "modal" %>
        <div class="py-4">
          <%= render partial: "show_images", locals: { art_item: @art_item } %>
        </div>
      </div>

      <div class="pl-4">
        <%= render partial: "show_documents", locals: { attached_files_resource: @art_item } %>
      </div>
    </div>
  </div>
  <div class="col-span-2">
    <%= render @art_item %>
  </div>
    
</div>

  <div class="text-xl mt-8">
    
    <div class="mb-20">Annotations:
      <%= turbo_frame_tag "new_annotation" do %>
        <%= render "annotations/form", annotation: @new_annotation %>
      <% end %>

      <div class="annotations" id="annotations">
        <%= render @annotations %>
      </div>
    </div>
  </div>



