<div id="<%= dom_id user %>">
      <h1 class="text-xl font-bold"><%= user.display_name  %><span class="text-sm font-sans font-normal ml-4"><%= user.id %></span></h1>
  <div class="grid grid-cols-2 gap-2 shadow-md m-6 px-2 bg-gray-50">
    <div>
      <p class="my-5">
        <strong class="block font-medium mb-1">eMail</strong>
        <%= user.email %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">uniqname</strong>
        <%= user.uniqname  %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Person Affiliation</strong>
        <%= user.person_affiliation  %>
      </p>
    </div>
    <div>
      <p class="my-5">
        <strong class="block font-medium mb-1">Sign-in Count</strong>
        <%= user.sign_in_count  %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Current Sign-in at</strong>
        <%= user.current_sign_in_at  %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">last Sign-in at</strong>
        <%= user.last_sign_in_at  %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Crrent Sign-in IP</strong>
        <%= user.current_sign_in_ip  %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Last Sign-in IP</strong>
        <%= user.last_sign_in_ip  %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Created at</strong>
        <%= user.created_at  %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Updated at</strong>
        <%= user.updated_at  %>
      </p>
    </div>
  </div>
</div>