<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Users</h1>
    </div>
  </div>
  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">ID</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Display Name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">uniqname</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">eMail</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Sign In Count</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Current Sign In</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Current Sign In IP</th>
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Show</span>
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
      <% @users.each do |user| %>
        <tr class="even:bg-blue-50">
          <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-500 sm:pl-6"><%= user.id %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 lg:table-cell"><%= user.display_name %></td>
          <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 lg:table-cell"><%= user.uniqname %></td>
          <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-900 lg:table-cell"><%= user.email %></td>
          <td class="hidden whitespace-nowrap py-4 px-3 text-sm  text-gray-900 lg:table-cell"><%= user.sign_in_count %></td>
          <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-900 lg:table-cell"><%= user.current_sign_in_at %></td>
          <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-900 lg:table-cell"><%= user.current_sign_in_ip %></td>
          <td class="whitespace-nowrap px-3 py-4 text-right text-sm font-medium sm:pr-6">
            <%= link_to "Show", user_path(user), class: "text-indigo-600 hover:text-indigo-900" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>