<div id="<%= dom_id access %>">
  <tr class="border-b-2"> 
    <td class="px-2"><%= show_department_fullname(access.permission.department_id) %> - <%= show_role_title(access.permission.role_id) %></td>
    <td class="px-2"><%= show_user_name_by_uniqname(access.uniqname) %></td>
    <td class="px-2"><%= show_user_name_by_id(access.updated_by) %></td>
    <td class="px-2">
      <% if action_name != "show" %>
        <%= link_to "Show this access", access, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to 'Edit this access', edit_access_path(access), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <% end %>
    </td>
  </tr>
</div>
