<div id="<%= dom_id access %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Department:</strong>
    <%= show_department_fullname(access.permission.department_id) %> - <%= show_role_title(access.permission.role_id) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by:</strong>
    <%= show_user_name_by_id(access.updated_by) %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show", access, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_access_path(access), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
