<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Users Access</h1>
      <%= render 'layouts/display_info_text', location: 'accesses' %>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to 'Add User', new_access_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-blue-umblue px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-white hover:text-blue-umblue hover:ring-2 hover:ring-blue-umblue focus:outline-none focus:ring-2 focus:ring-blue-umblue focus:ring-offset-2 sm:w-auto" %>
    </div>
  </div>

  <div class="mt-6" data-controller="autosubmit">
    <%= search_form_for @q, data: { target: "autosubmit.form", action: "input->autosubmit#search" } do |form| %>
      <div>
        <label for="q_uniqname_eq"><span class="fancy_label">Search Uniqname</span></label>
        <%= form.text_field :uniqname_eq,
          placeholder: "Enter or select uniqname",
          list: "uniqname-options",
          class: "input_text_field mt-2",
          "data-action": "input->autosubmit#search",
          "aria-labelledby": "q_uniqname_eq" %>
        <datalist id="uniqname-options">
          <% @uniqnames_for_filter.each do |uniqname| %>
            <option value="<%= uniqname %>"></option>
          <% end %>
        </datalist>
      </div>
      <div class="mt-3">
        <button type="button" class="tertiary_button" data-action="click->autosubmit#clearFilters">
          Clear
        </button>
      </div>
    <% end %>
  </div>

  <%= render 'listing' %>
</div>
