<%= form_with(model: permission, class: "contents") do |form| %>
  <% if permission.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
        <% permission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :updated_by, value: current_user.id %>

  <div class="my-5">
    <%= form.label :role_id %>
    <%= form.collection_select :role_id, Role.order(:title), :id, :title, prompt: true %>
  </div>

  <div class="my-5">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, Department.order(:fullname), :id, :fullname, prompt: true %>
  </div>

  <div class="inline">
    <%= form.submit "Create Department Role", class: "rounded-lg py-3 px-5 bg-blue-umblue text-white inline-block font-medium cursor-pointer hover:bg-white hover:text-blue-umblue hover:ring-2 hover:ring-blue-umblue" %>
  </div>
<% end %>
