<div id="<%= dom_id permission %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= show_role_title(permission.role_id) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Department:</strong>
    <%= show_department_fullname(permission.department_id) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by:</strong>
    <%= show_user(permission.updated_by) %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this permission", permission, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this permission', edit_permission_path(permission), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
