<%= turbo_frame_tag annotation do %>
  <hr class= "flex-1 border-t border-blue-600 my-1">
  <div>
    <div class="w-full text-xs">
      <div class="flex text-base space-x-2 items-center pt-1">
        <div><%= annotation.note %></div>
      </div>
      <div class="flex items-center">
        <div>
          Updated on 
          <%= annotation.updated_at.strftime('%m/%d/%Y') %>
        </div>
        <div class="flex items-center">
          by
          <%= show_user(annotation.created_by) %>
          <%= link_to "Edit", edit_annotation_path(annotation), class: "m-2 px-1 rounded-md shadow-sm bg-blue-umblue text-sm text-gray-100 text-center hover:underline" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
