<%= form_with(model: annotation) do |form| %>
  <div class="my-5">
    <%= form.label :note %>
    <%= form.rich_text_area :note, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.hidden_field :art_item_id, value: annotation.art_item_id %>

  <% if annotation.new_record? %>
    <%= form.submit "Add Annotation", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  <% else %>
    <div>
      <%= form.submit "Update", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <%= link_to "Cancel", @annotation, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% end %>
