<%= form_with(model: annotation) do |form| %>
  <% if annotation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(annotation.errors.count, "error") %> prohibited this annotation from being saved:</h2>

      <ul>
        <% annotation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.hidden_field :created_by, value: current_user.id %>

  <div class="my-5">
    <%= form.label :note %>
    <%= form.rich_text_area :note, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.hidden_field :art_item_id, value: annotation.art_item_id %>

  <% if annotation.new_record? %>
    <%= form.submit "Add Annotation", class: "rounded-lg py-1 px-2 bg-blue-600 text-white inline-block text-base cursor-pointer" %>
  <% else %>
    <div>
      <%= form.submit "Update", class: "rounded-lg py-1 px-2 bg-blue-600 text-white inline-block text-base cursor-pointer" %>
      <%= link_to "Cancel", @annotation, class: "rounded-lg py-1 px-2 bg-blue-600 text-white inline-block text-base cursor-pointer" %>
    </div>
  <% end %>
<% end %>
