<div id="<%= dom_id appraisal_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Classification:</strong>
    <%= appraisal_type.classification %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= appraisal_type.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated by:</strong>
    <%= appraisal_type.updated_by %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this appraisal type", appraisal_type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this appraisal type', edit_appraisal_type_path(appraisal_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
