<footer class='fixed bottom-0 w-full inset-x-0 bg-white border-t border-gray-200'>
  <div class="text-sm w-screen mb-2">
    <div class="items-center flex justify-center">
      <a href="https://lsa.umich.edu/technology-services/">
        <%= image_tag 'Technology_Services_logo.png', alt: "LSA Technical Service Logo", size: "323 x 75" %>
      </a>
    </div>
    <div class="text-blue-800 items-center flex justify-center">
      <a class="hover:underline pr-1" href="https://umich.edu/about/privacy/">Privacy Notice</a> 
      |
      <a id="myCustomTrigger" class="hover:underline px-1" href="#" data-email="<%= session[:user_email]%>">Report an Issue</a>
      |
      734.615.0100
    </div>
    <div class='flex justify-center tracking-tighter'>
      Copyright <%= Time.now.year %> | <%= link_to 'The Regents of the University of Michigan', 'https://regents.umich.edu', class: 'pl-1 text-blue-800 hover:underline' %>
    </div>
  </div>
  
  <script type="text/javascript" src="https://umlsait.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/1jmxwi/b/9/c95134bc67d3a521bb3f4331beb9b804/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=7a751eb3"></script>
  <%= javascript_include_tag 'feedback', async: true %>
</footer>