<nav class="static bg-blue-umblue shadow min-w-screen" data-controller="dropdown">
  <div class="w-auto max-w-7xl mx-auto px-4 sm:px-6 ">
    <div class="flex justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <div class="flex">
          <%= link_to root_path do %>
            <div class="flex items-center">
              <div class="inline-block h-8 justify-self-start content-start items-start">
                <%= image_tag 'mlsa.png', alt: 'LSA Logo', height: '35.75', width: '100' %>
              </div>
              <span class="text-white font text-3xl pl-4 pr-2 font-sans font-medium">
                Art Survey
              </span>
            </div>
          <% end %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-4 pl-2">
            <% if access_authorized! %>
              <div class="border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal"><%= link_to "Catalog", art_items_path, class: "#{class_names(active: current_page?(art_items_path))}"%></div>
              <div class="border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal"><%= link_to "AdminDoc", "https://docs.google.com/document/d/e/2PACX-1vTKMfzTxp2I02KuuT_3S5t2OOA4vUIZObWUgnslilQSuh1XBUQgmTpODJGmyoLWZ5UkN-adzSBQgBc7/pub#h.zf7fqp6cccac", target: "_blank"%></div>
            <% end %>
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:flex sm:items-center">
        <div class="ml-2 relative">
          <div class="grid justify-items-end flex flex-wrap items-center">
            <% if user_signed_in? %>
              <button id="user-menu-button" class="bg-white rounded-full flex-1 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" tabindex="-1" aria-expanded="false" aria-haspopup="true" type="button" data-action="click->dropdown#toggle click@window->dropdown#hide">
                <span class="sr-only bg-white text-black">Open user menu</span>
              </button>
              <div class="leading-tight text-sm font-medium text-white">
                <%= current_user.email %>
              </div>
              <%= button_to destroy_user_session_path, method: :delete, role: "menuitem", data: {turbo: "false"} do %>
                <div class="px-1 ml-2 shadow-sm font-medium rounded text-blue-900 bg-yellow-550 hover:bg-yellow-500 flex-1 hover:underline">Sign Out</div>
              <% end %>
            <% else %>
              <div>
                <%= button_to user_saml_omniauth_authorize_path, data: {turbo: "false"} do %>
                  <div class="px-1 shadow-sm font-medium rounded text-blue-900 bg-yellow-550 hover:bg-yellow-500 hover:underline">Sign In</div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="sm:hidden items-center mt-1">
        <%= render 'layouts/mobile_menu_toggle' %>
      </div>
    </div>
    <%= render 'layouts/mobile_menu_dropdown' %>
  </div>
</nav>