<% if user_signed_in? %>
  <% if access_authorized! %>
    <%= link_to "Catalog", art_items_path,
        class: "#{mobile ? 'block px-3 py-2 rounded-md text-base font-medium' : 'border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal'} #{class_names(active: current_page?(art_items_path))}" %>

    <%= link_to "https://docs.google.com/document/d/e/2PACX-1vTKMfzTxp2I02KuuT_3S5t2OOA4vUIZObWUgnslilQSuh1XBUQgmTpODJGmyoLWZ5UkN-adzSBQgBc7/pub#h.zf7fqp6cccac",
        target: "_blank",
        class: "#{mobile ? 'block px-3 py-2 rounded-md text-base font-medium' : 'border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal'}" do %>
      <span class="pr-1">AdminDoc</span>
      <%= svg("arrow-up-right-from-square") %>
    <% end %>
  <% end %>

  <% if is_super_user! || is_department_admin_user! %>
    <div class="<%= mobile ? 'px-3 py-2' : '' %>">|</div>
    <%= link_to "Users", accesses_path,
        class: "#{mobile ? 'block px-3 py-2 rounded-md text-base font-medium' : 'border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal'} #{class_names(active: current_page?(accesses_path))}" %>
  <% end %>
<% end %>
