<% if user_signed_in? %>
  <% if access_authorized! %>
    <%= link_to "Catalog", art_items_path,
        class: "#{mobile ? 'block w-full px-4 py-2 text-base font-medium text-white hover:bg-blue-700 rounded-md transition-colors' : 'border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal'} #{class_names(active: current_page?(art_items_path))}" %>
    <% if is_super_user! || is_department_admin_user! %>
      <%= link_to "Users", accesses_path,
          class: "#{mobile ? 'block w-full px-4 py-2 text-base font-medium text-white hover:bg-blue-700 rounded-md transition-colors' : 'border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal'} #{class_names(active: current_page?(accesses_path))}" %>
    <% end %>
    <%= link_to "https://docs.google.com/document/d/e/2PACX-1vTKMfzTxp2I02KuuT_3S5t2OOA4vUIZObWUgnslilQSuh1XBUQgmTpODJGmyoLWZ5UkN-adzSBQgBc7/pub#h.zf7fqp6cccac",
        target: "_blank",
        class: "#{mobile ? 'block w-full px-4 py-2 text-base font-medium text-white hover:bg-blue-700 rounded-md transition-colors' : 'border-transparent text-blue-50 hover:border-blue-300 hover:text-white inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal'}" do %>
      <div class="flex items-center <%= mobile ? 'justify-between' : '' %>">
        <span>AdminDoc</span>
        <div class="<%= mobile ? 'h-5 w-5' : 'h-4 w-4 ml-2' %>">
          <%= svg("arrow-up-right-from-square") %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
