<!DOCTYPE html>
<html>
  <head>
    <title>ArtSurvey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if user_signed_in? %>
      <div class="p-2 flex justify-end">
        <%= link_to 'Log Out', destroy_user_session_path, data: { "turbo-method": :delete }, class: "px-1 text-xs rounded border border-red-600 bg-red-200" %>
      </div>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
